* {
    margin: 0;
    padding: 0;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/bg2.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    height: 75vh;
    background-attachment: fixed;
}

.top {
    margin-top: 10%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.user {
    width: 50%;
}